<div class="wrapper">
  <h1>Login</h1>
  <%= form_tag '/login' do %>
    <%= label_tag :account_number, 'Account number', class: 'url-input-label' %>
    <div class="flex">
      <%= text_field_tag :account_number, "", placeholder: '0000 0000 0000 0000', class: "flex-1" %>
      <%= submit_tag "Login", class: 'btn-input-group no-margin' %>
    </div>

    <p>
      Don't have an account yet? <%= link_to "Create an account", '/signup', method: :post, class: "internal-link" %>.
    </p>
  <% end %>
</div>
