<p>
  <%= form_for @new_article do |f| %>
    <div class="flex">
      <%= f.text_field :url, placeholder: 'URL to save', class: 'flex-1' %>
      <%= f.submit 'Save' %>
    </div>
  <%end%>
</p>
<% @articles.each do |article| %>
  <div class="article flex">
    <div>
      <%= link_to '✓', article, method: :delete, class: 'check internal-link' %>
    </div>
    <div class="flex-1">
      <div><a class="article-title" target="_blank" href="<%= article.url %>"><%= article.title || article.url %></a> (<%= URI.parse(article.url).host %>)</div>
      <div class="article-timestamp">added <%= time_ago_in_words(article.created_at) %> ago</div>
    </div>
  </div>
<% end %>