<div class="wrapper">
  <div class="flex">
    <div class="flex-1">
      <h2 style="margin: 0; padding: 0;">Reading list</h2>
    </div>
    <a href='javascript:void(0);' class="faded internal-link text-small" id="add-by-url-btn" onclick="document.getElementById('url-input-wrapper').style.display = 'block'; document.getElementById('url-input').focus(); document.getElementById('add-by-url-btn').style.display = 'none';">
      Add by URL +
    </a>
    <%= link_to 'Reset', destroy_all_articles_path, method: :delete, class: 'internal-link nav-link faded', style: 'margin-left: 15px;' %>
  </div>

  <div style="display: none" id="url-input-wrapper">
    <%= form_for @new_article do |f| %>
      <%= f.label :name, 'Save new URL', class: 'url-input-label' %>
      <div class="flex">
        <%= f.text_field :url, id: 'url-input', placeholder: 'https://...', class: 'flex-1' %>
        <%= f.submit 'Save', class: "btn-input-group btn-success no-margin" %>
      </div>
    <% end %>
  </div>

  <div class="articles-wrapper">
    <% if @articles.size > 0 %>
      <% @articles.each do |article| %>
        <div class="card card-sm flex day-<%= article.age_in_days %>">
          <div class="flex-1">
            <div><a target="_blank" href="<%= article.url %>"><%= article.title || article.url %></a></div>
            <div class="article-timestamp">
              <%= URI.parse(URI.escape(article.url)).host %>
              &middot;
              added <%= time_ago_in_words(article.created_at) %> ago
              &middot;
              will be let go in ~<%= time_ago_in_words(article.created_at + 7.day) %>
            </div>
            <div class="article-timestamp">
              <%= link_to 'Mark as read', article, method: :delete, class: 'internal-link' %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="card card-dimmed" style="font-size: 0.9em;">
        <div class="card-title">Your list is empty. Take a moment. 🍃</div>
        <p>If you're curious to learn something new, try <%= link_to "adding a random featured Wikipedia article", articles_path(article: { url: 'https://en.wikipedia.org/wiki/Special:RandomInCategory/Featured_articles' }), method: :post, class: 'internal-link' %>. 📙</p>
      </div>
    <% end %>

    <% if @articles.size < 3 %>
      <div class="card card-dimmed" style="font-size: 0.9em;">
        <div class="card-title">How to save content to your list</div>

        <p>Use one of the following methods to save content to your Freshreader list:</p>
        <ul>
          <li>
            <span style="font-weight: bold;">Browser extension</span>: <a href="https://addons.mozilla.org/en/firefox/addon/save-to-freshreader/" target="_blank">Mozilla Firefox</a> and <a href="https://chrome.google.com/webstore/detail/save-to-freshreader/bdmbfhckhooihghmnhaomilcamhmpoec" target="_blank">Google Chrome</a>
          </li>
          <li>
            <span style="font-weight: bold;">Bookmarklet</span>: Drag this link to your bookmarks bar: <a style="font-weight: bold" onclick="return false;" class="internal-link" href="javascript:location.href='https://freshreader.app/save?url='+encodeURIComponent(location.href)">Save to Freshreader</a>
          </li>
          <li>
            <span style="font-weight: bold;">Android app</span>: <a target="_blank" href="https://github.com/freshreader/android/releases/download/v1.0.0/freshreader-v1.0.0.apk">freshreader-v1.0.0.apk</a>
          </li>
          <li>
            <span style="font-weight: bold;">iOS app</span>: not ready yet, stay tuned!
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
