<p>
  <%= form_for @new_article do |f| %>
    <%= f.text_field :url, placeholder: 'URL to save' %>
    <%= f.submit 'Save' %>
  <%end%>
</p>
<% @articles.each do |article| %>
  <p>
    <a target="_blank" href="<%= article.url %>"><%= article.title || article.url %></a> (<%= URI.parse(article.url).host %>)<br>
    added <%= time_ago_in_words(article.created_at) %> ago<br>
    <%= link_to 'Mark as read', article, method: :delete %>
  </p>
<% end %>
