<div class="wrapper large-wrapper" id='above-the-fold'>
  <p>
    <img id="hero-image" src="<%= image_url("opened_tabs.svg") %>"/>
    <h1>Say goodbye to that 50-tab browser window.</h1>
    <p class="lead">
      Save content to read later. Read what's most interesting.<br>
      <b>Get a fresh start every week.</b>
    </p>
  </p>
  <% if logged_in? %>
    <%= link_to "View saved articles", '/articles', class: "btn btn-large internal-link" %>
  <% else %>
    <%= link_to "Generate account", '/signup', method: :post, class: "btn btn-large btn-success internal-link" %>
    <%= link_to "Login", '/login', class: "btn btn-login internal-link" %>
  <% end %>
</div>

<div class="wrapper">
  <div>
    <p>
      Hi, I'm Max. I made Freshreader because I'm just like you, and I get you. You and I, and many others, we're a curious tribe. We want to read and learn and explore <i>everything</i>. We spend our evenings and/or weekends catching up on what matters to us.
    </p>

    <p>
      Cue the browser window with tabs so small we can't even read the titles anymore, the FOMO-inducing Twitter firehose, the dozen unread newsletters, and the hundred bookmarks across all ours devices, thinking "I'll read this later", but actually never do.
    </p>

    <p>
    In the face of this information overload, we sign up for "read later" services, where we dump more content than we can ever read in a lifetime, only to end up with yet <i>another</i> inbox to deal with. How annoying and draining is that?
    </p>

    <p>
      Freshreader aims to be where you go to read content in a relaxed way. You don't even need to read everything, quite the opposite actually.
    </p>

    <p>
      Find what's most relevant to you, and read it. Then, let go of the rest.
    </p>

    <p>
      In fact, Freshreader forces you get a fresh start every week. That's right: <b>Freshreader automatically lets go of content you saved more than a week ago</b>. This way, your list doesn't grow infinitely.
    </p>

    <p>
      There's something comforting in letting go and getting a fresh start every week.
    </p>

    <h3>If it's important, it'll somehow come back into your life</h3>

    <p>
      I noticed that if something's important enough, it'll somehow make its way back into your life. There's no need to try and consume everything today: read what makes sense today, and trust that the future will bring you what you need.
    </p>

    <p>
      Sounds exciting? Let's get started.
    </p>

    <% if logged_in? %>
      <%= link_to "View saved articles", '/articles', class: "btn internal-link" %>
    <% else %>
      <%= link_to "Generate account", '/signup', method: :post, class: "btn btn-success internal-link" %>
      <%= link_to "Login", '/login', class: "btn btn-login internal-link" %>
    <% end %>
  </div>
</div>
