<div id='above-the-fold'>
  <div class="wrapper large-wrapper">
    <p>
      <h1 style="font-weight: 800"><%= t(:index_heading) %></h1>

      <p class="lead">
        <%= t(:lets_be_honest) %>
      </p>


      <div class="hero-benefits">
        <p class="faded">
          <%= t(:save_your_open_tabs) %>
        </p>

        <div class="mobile">
          <p>
            <img src="<%= image_url("mobile-packed.jpg")%>" />
          </p>
        </div>
        <div class="desktop">
          <p>
            <img src="<%= image_url("packed.png")%>" />
          </p>
        </div>


        <p class="faded"><%= t(:place_of_focus) %></p>

        <div class="mobile">
          <p>
            <img src="<%= image_url("mobile-clean.jpg")%>" />
          </p>
        </div>
        <div class="desktop">
          <p>
            <img src="<%= image_url("clean.png")%>" />
          </p>
        </div>
      </div>

      <div>
        <p>
          <%= t(:heres_the_twist) %>
        </p>
        
        <p>
          <b style="background: #d7f9dd; padding: 0.4em; margin: -0.4em; border-radius: 4px; box-decoration-break: clone;">
          <%= t(:lets_go) %></b>
          <%= t(:grow_infinitely) %>
        </p>

        <p>
          <%= t(:letting_go_is_key) %>
        </p>
      </div>
    </p>

    <p>
      <% if logged_in? %>
        <%= link_to "View reading list", '/articles', class: "glow-primary no-margin btn btn-large btn-success internal-link" %>
        <div class="faded text-small">(you're already logged in and ready to go) 🚀</div>
      <% else %>
        <%= link_to t(:create_an_account), '/signup', method: :post, class: "glow-primary no-margin btn btn-large btn-success internal-link" %>
        <div class="faded text-small"><%= t(:no_email_required) %></div>
      <% end %>
    </p>
  </div>
</div>

<div style="background: #f8f8f8; padding: 4em 1em;">
  <div class="wrapper" style="display: grid; grid-gap: 1em; grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));">
    <div class="card testimonial">
      <p>
        <%= t(:testimonial_1) %>
      </p>

      <div>
        <img class="testimonial-img" src="<%= image_url("karthik.jpg")%>">
        <span class="testimonial-name">
          <a href="https://twitter.com/NandulaKarthik">Karthik Nandula, <%= t(:testimonial_1_job) %></a>
        </span>
      </div>
    </div>
    <div class="card testimonial">
      <p>
        <%= t(:testimonial_2) %>
      </p>

      <div>
        <img class="testimonial-img" src="<%= image_url("maximilian.png")%>">
        <span class="testimonial-name">
          <a href="https://twitter.com/creaturemax">Maximilian Jendrall, <%= t(:testimonial_2_job) %></a>
        </span>
      </div>
    </div>
  </div>
</div>
