<!DOCTYPE html>
<html>
  <head>
    <title>Freshreader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <h1>You are Logged In, <%= current_user.account_number %></h1>
      <%= button_to "Logout", '/logout', method: :post %>
    <% else %>
      <%= button_to "Login", '/login', method: :get %>
      <%= button_to "Generate account", '/signup', method: :get %>
    <% end %>

    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
