<!DOCTYPE html>
<html>
  <head>
    <title>Freshreader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Inter:400,700|Roboto+Mono&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container">
      <div class="nav">
        <div class="">
          <div class="flex">
            <div class="flex-1">
              <img id="nav-logo" src="<%= image_url("logo.svg") %>"/>
              <a class="internal-link" href="<% if logged_in? %>/articles<% else %>/<% end %>">
                Freshreader
              </a>
            </div>
            <p>
              <% if logged_in? %>
                <%= link_to "View list", '/articles', class: "internal-link nav-link" %>
                <%= link_to "View account", '/account', class: "internal-link nav-link" %>
                <%= link_to "Log out", '/logout', method: :post, class: "internal-link nav-link" %>
              <% else %>
                <%= link_to "Log in", '/login', method: :get, class: "internal-link nav-link" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <div class="wrapper" id="flashes-wrapper">
        <% flash.each do |name, msg| %>
          <div class="flash flash_<%= name %>">
            <%= msg %>
          </div>
        <% end %>
      </div>

      <div>
        <%= yield %>
      </div>

      <footer>
        <div class="">
          Built by <a target="_blank" href="https://maximevaillancourt.com/">Maxime Vaillancourt</a> in Montreal, Canada ✌️ &middot; <%= link_to "GitHub", 'https://github.com/maximevaillancourt/freshreader/' %>
        </div>
      </footer>
    </div>
  </body>
</html>
